body {
  font-family: sans-serif;
}
.red-back {
  background-color: red;
  height: 10vmax;
}
.blue-back {
  background-color: blue;
  height: 10vmax;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 90px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: rgb(247, 225, 225);
}
.container {
  width: auto;
  padding: 0.15px;
}
.margin-top-5 {
  margin-top: 5%;
}
.margin-bottom-5 {
  margin-bottom: 5%;
}
.first-alphabet-large::first-letter {
  font-size: 3rem;
}
.img-custom {
  width: 150vmax;
  height: 150vmax;
}
